extends ../layout/main

block variables
	- var title = 'Page title';
	- var description = 'Page description';
	- var pageClass = '';

block content
	h2 About

block script
	script(type='text/javascript').