extends ../layout/main

block variables
	- var title = 'Page title';
	- var description = 'Page description';
	- var pageClass = '';

block content
	section
		.container
			h2 Content
block script
	script(type='text/javascript').
		console.log('custom script');