// Font
$mainFont                : 'HelveticaNeueCyr', Arial, sans-serif;

// Size
$mainFontColor           : #fff;
$mainFontSize            : 15px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.6em;

$smFontSize              : 13px;
$lgFontSize              : 24px;


$lgDesktopWidth          : 1580px;
$desktopWidth            : 1230px;
$smDesktopWidth          : 992px;
$tableWidth              : 767px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #000;
$light                   : #fff;
$dark-gray               : #1A1A1A;
$middle-gray             : #333333;
$primary-color           : #4EDADD;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-gray              : #E0E0E0;
$lighter-gray            : #8B8B8B;
$blue                    : #518BFF;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #fff;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;
